html, body{
  min-height: 100vh;
}
.container{
  vertical-align: middle;
  padding-top: 100px;
}
ul {
  list-style-type: none;
}
.video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 960px;
}
.bg-text{
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0.2em;
}
.bg-margin{
  margin: 20px;
}
video {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*Video controls*/
.video-controls {
  position: absolute;
  bottom: -45px; /*height of controls container*/
  left: 50%;
  padding: 7px;
  background: rgba(0, 0, 0, .35);
  transform: translateX(-50%);
  transition: bottom .15s ease-in;
}

.video-wrapper:focus > video + .video-controls,
.video-wrapper:hover > video + .video-controls {
  bottom: 20px;
  z-index: 2;
}
/*Video controls*/
.video-controls .btn {
  padding: 5px 0;
  width: 31px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity .175s ease-in;

}
.video-controls .btn:focus {
    outline: 0;
}
.video-controls .btn:hover {
    opacity: .25;
}
/*Note Controls*/
/*
.note-controls{
  position: absolute;
  bottom: -45px;   left: 50%;
  padding: 7px;
  background: rgba(0, 0, 0, .35);
  transform: translateX(-50%);
  transition: bottom .25s ease-in;
}

.note-controls:fucus>
*/
.note-controls{
  display: none;
  position: fixed;
  padding: 3px;
  left: 100px;
  top:100px;
  /*width: 180px;*/
  background-color: #EEE;
  border-radius: 5px;
}
.note-controls .row{
  margin: 0;
}
.note-controls .col{
  padding: 0;
  margin-left:2px; 
}
.note-controls img{
  width: 40px;
  cursor: pointer;
}
.note-controls button{
  padding:5px;
}
.note-controls p{
  font-size: 10px;
  text-align: center;
  margin:0px;
}
/*Note Marker Bar*/
.note-marker{
  position: relative;
  max-width:  960px;
}
.note-marker-fill {
  width: 10px;
  height: 15px;
  opacity: .5;
  position: absolute;
  display: inline-block;
  cursor: pointer;
}
.note-marker-fill:hover{
    opacity:1;
    z-index: 100;
}
.note-marker-fill.note{
  background-color: rgba(251 ,148,19);
}
.note-marker-fill.highlight{
  background-color: #E3C819;
}
.note-marker-fill.question{
  background-color: #E11B3D;
}
.template{
  display: none;
}
/*Caption*/
.caption-container{
  max-height: 70%;
  overflow-y: scroll;
}
.caption > .navigator{
 height:15px;
 width: 15px;
 border-radius: 7.5px;
 background-color: #ffa500a6;
 cursor: pointer;
}
.highlight-text{
  display: inline;
  background-color: rgba(226, 209, 9, 0.3);
}
.highlight-notes{
  display: inline;
  background-color: rgba(251 ,148,19,0.3);
}
.highlight-question{
  display: inline;
  background-color: rgba(255, 27, 61, 0.3);
}
/*Hover notes*/
/*.notes-container{
  width: 200px;
  height: 70%;
  position: absolute;
  background: red;
  z-index: 10;
}*/
.note-box{
  width: 200px;
  min-height: 100px;
  background: #f8f9fa;
  border-radius: 5px;
  border: 3px solid black;
  display: none; 
  position: fixed;
  padding: 5px;
}
.note-box input{
  display: none;
  margin: 5px;
}
.note-box button{
  margin: 2px;
}
/*micro-note*/
#highlighted-text-container{
  height: 400px;
  overflow-y: scroll;
}